.mail_subscribe_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light);
    background: var(--primary-color);
    padding: 2em 0;
}

.subscribe_mail_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mail_subscribe_heading {
    text-align: center;
    line-height: 180%;
    max-width: 22em;
}

.subscribeInput {
    width: 200px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    margin: 20px 0;
    padding: 0 10px;
    color: var(--primary-color);
}

.subscribeInput:active {
    outline: none;
    border: none;
}

.subscribeButton {
    width: 100px;
    border: none;
    height: 30px;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 600;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.noSpams {
    display: block;
    margin-top: -10px;
}
